@{
    ViewData["Title"] = "About This App";
}
<h1>@ViewData["Title"]</h1>

<p>Aplikasi ini hanya untuk mengeksplorasi dan digunakan untuk belajar mengenai web development menggunakan ASP DotNet.</p>
